@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #f0f0f0;
  --dark-grey-color: #5c5c5c;
  --green-color: #28d979;
  --light-green-color: #ddf163;
  --dark-green-color: rgba(126, 115, 18, 0.4);
  --hashtag-green-color: #149063;
  --yellow-color: #f6ed1e;
  --ripple-color: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: regular;
}

*[contenteditable="true"]:focus {
  outline: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

*[contenteditable="true"]:focus {
  outline: none;
  animation: bounce 0.5s;
  animation-fill-mode: forwards;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  margin: 15px 0 20px 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header__item {
  width: 200px;
  height: 100%;
  background-color: #333;
  border-radius: 20px;
}

.photo {
  background-color: var(--dark-grey-color);
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
}

.occupation {
  padding: 20px;
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}

.editable-occupation__name {
  font-weight: 600;
  font-size: 18px;
}

.editable-occupation__occupation {
  color: var(--dark-grey-color);
}

.languages {
  width: 400px;
  padding: 20px;
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.languages__main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.languages__item {
  display: flex;
  justify-content: space-between;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    -webkit-appearance: none;
    overflow: hidden;
    width: 70%;
    border-radius: 5px;
    cursor: ew-resize;   
    background-color: transparent;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 11px;
    color: var(--green-color);
    margin-top: -1px;
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: var(--green-color);
    box-shadow: -200px 0 0 200px var(--green-color);
    border-radius: 5px;
  }
}

input[type="range"]::-moz-range-progress {
  background-color: var(--green-color);
}
input[type="range"]::-moz-range-track {
  background-color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background-color: var(--green-color);
}
input[type="range"]::-ms-fill-upper {
  background-color: transparent;
}

.languages__header {
  font-size: 18px;
  font-weight: 600;
}

.main-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: fit-content;
  margin: 0 0 20px 0;
}

.main-section__item {
  background-color: var(--grey-color);
  border-radius: 20px;
  padding: 20px;
}

.experience {
  width: 605px;
}

.main-section__header {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
  width: 100%;
}

.experience__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.experience__item {
  border-radius: 20px;
  background: var(--white-color);
  padding: 20px;
  font-size: 12px;
  font-weight: 500;
}

.experience__item-main {
  background: var(--green-color);
  color: var(--white-color);
}

.experience-item__wrapper {
  display: flex;
  justify-content: space-between;
}

.experience__time {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.experience__tag {
  padding: 2px 6px;
  border-radius: 60px;
  background: var(--dark-green-color);
  color: var(--light-green-color);
}

.experience__details {
  font-size: 10px;
  font-weight: 400;
}

.experience__left {
  width: 25%;
}

.experience__right {
  width: 65%;
  font-weight: 400;
}

.tools {
  width: 205px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tools__block {
  position: relative;
  max-width: 80%;
}

.tools__block-name {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 5px 20px;
  border-radius: 59px;
  font-size: 8px;
  white-space: nowrap;
}

.tools__block-container {
  background-color: var(--white-color);
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 30px 20px;
  border-radius: 6px;
  width: 100%;
}

.tools__block-container img {
  height: 30px;
}

.bottom-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: fit-content;
  margin: 0 0 20px 0;
}

.education {
  width: 405px;
}

.bottom__right-side {
  width: 405px;
}

.bottom-section__item {
  background-color: var(--grey-color);
  border-radius: 20px;
  padding: 20px;
}

.bottom-section__header {
  font-weight: 500;
}

.interests__box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.interests__item {
  padding: 4px 10px;
  background: var(--white-color);
  border-radius: 40px;
}

.contacts {
  background: var(--black-color);
  color: var(--white-color);
}

.contact {
  font-weight: 400;
  font-size: 12px;
}

.education__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.education__item {
  width: 170px;
  height: fit-content;
  background: var(--white-color);
  border-radius: 20px;
  padding: 15px;
  font-size: 12px;
}

.education__item-main {
  background: var(--green-color);
  color: var(--white-color);
}

.education__header-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.education__header {
  margin: 0 0 10px 0;
  font-weight: 600;
}

.education__hastags {
  margin: 0 0 10px 0;
  color: var(--hashtag-green-color);
}

.education__hastags-name {
  font-weight: 600;
  color: var(--black-color);
}

.favourite {
  color: var(--white-color);
}

.interests {
  margin: 0 0 20px 0;
}

.ripple-surface {
  position: relative;
  overflow: hidden;
}

.ripple-surface .ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: var(--ripple-color);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  animation: ripple 1s;
  opacity: 0;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 500px;
  }
  .header-section {
    flex-direction: column;
    align-items: center;
  }
}

#download-btn {
  cursor: pointer;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  border-radius: 20px;
  border: none;
  background-color: var(--green-color);
  padding: 5px;
}

#download-btn:hover {
  box-shadow: 0 0 5px var(--green-color);
}